body {
  padding: 10px;
  font-family: sans-serif;
  background-color: #008ea7de;
}

h1{
  color:#FFFFFF;
  background-color: #FFFFFF55;
  border-radius: 2em;
  padding: 1em;
}
label{
  font-weight: normal;
}

.infos label{
  font-weight: normal;
  font-size: 17px;
}

.infos,.results{
  background-color: #FFFFFFEE;
  border-radius: 2em;
  padding: 3em;
} 

.results{
  position:relative;
  top: 5px;
}

.topics{
  display: inline-block;
  
}

.topic,#topic_aside{
  background-color: #FFFFFFAA;
  border:#0afff300 solid 2px;
  border-radius: 1em;
  padding:10px 4px;
}


#submitting_button{
  display: none;
}

#topic_aside{
  color:white;
  font-weight: bold;
  background-color: #005786;
  padding:10px 5px;
  border-radius: 1em 0em 0em 1em;
}

/* .login-link-text{
  color:white;
  background-color: rgb(7, 207, 131);
  border:#0afff300 solid 2px;
  padding:10px 4px;
  border-radius: 1em;
  
}

#login-buttons a, .accounts-dialog a{ 
  text-decoration: none;
} */

#log_in_button a{
  text-decoration: none;
  color:white;
  background-color: rgb(7, 207, 131);
  border:#0afff300 solid 2px;
  padding:10px 4px;
  border-radius: 1em;
}

.choice{
  background-color: #FFFFFF55;
  border-radius: 2em;
  padding: 1em;
}