body {
  padding: 10px;
  font-family: sans-serif;
  background-image: linear-gradient(#008ea7de, rgb(14, 236, 188));
}

h1{
  color:#FFFFFF;
}

.infos,.results{
  background-color: #FFFFFFEE;
  border-radius: 2em;
  padding: 3em;
} 

.results{
  position:relative;
  top: 5px;
}

.topics{
  display: inline-block;
  
}

.topic,#topic_aside{
  background-color: #FFFFFFAA;
  border:#0afff300 solid 2px;
  border-radius: 1em;
  padding:10px 4px;
}

#submitting_button{
  display: none;
}

#topic_aside{
  color:white;
  font-weight: bold;
  background-color: #0094e4;
}